<section style="background-color: #eee">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-4 card">
          <div class="text-center card-body">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{ name }}</h5>
            <p class="mb-1 text-muted">Full Stack Developer</p>
            <p class="mb-4 text-muted">Bay Area, San Francisco, CA</p>
            <div class="mb-2 d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="['/editprofile']"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
        <div class="mb-4 card mb-lg-0">
          <div class="p-0 card-body">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="p-3 list-group-item d-flex justify-content-between align-items-center"
              >
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li
                class="p-3 list-group-item d-flex justify-content-between align-items-center"
              >
                <i class="fab fa-github fa-lg" style="color: #333333"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li
                class="p-3 list-group-item d-flex justify-content-between align-items-center"
              >
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li
                class="p-3 list-group-item d-flex justify-content-between align-items-center"
              >
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li
                class="p-3 list-group-item d-flex justify-content-between align-items-center"
              >
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="mb-4 card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">{{ username }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">{{ name }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">{{ email }}</p>
              </div>
            </div>
            <!-- <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">(097) 234-5678</p>
              </div>
            </div> -->
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Functionaly</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">{{ role }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Admission Date</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">01/01/2020</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-4 card mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Survey</span>
                </p>
                <div class="mx-0 w-100">
                  <div class="text-center">
                    <p>
                      <strong>6/12</strong>
                    </p>
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      50%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4 card mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Competition</span>
                </p>
                <div class="mx-0 w-100">
                  <div class="text-center">
                    <p>
                      <strong>8/8</strong>
                    </p>
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      100%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
