<div class="card">
  <div class="p-3 d-flex align-items-center justify-content-between">
    <div class="card-header">
      <h3 class="card-title">Category</h3>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/add-question-option']"
    >
      Add
    </button>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="p-0 card-body table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th>Option</th>
              <th>Question</th>
              <th style="width: 200px">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="questionOptions != null">
              <tr *ngFor="let questionOption of questionOptions; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ questionOption.value }}</td>
                <td>{{ questionOption.questionText }}</td>
                <td class="d-flex align-items-center justify-content-around">
                  <button
                    [disabled]="questionOption.typeId == 4"
                    type="button"
                    class="btn btn-success"
                    [routerLink]="[
                      '/update-question-option',
                      { id: questionOption.id }
                    ]"
                  >
                    Update
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="delete(questionOption.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
