<section class="pb-9 pt-7 bg-600">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6 class="font-sans-serif text-primary fw-bold">About Us</h6>
        <h1 class="mb-6">About Us</h1>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-0" style="margin-top: -18rem">
  <div class="container">
    <div class="row">
      <div class="mb-8 col-md-8">
        <div class="card">
          <div class="p-3">
            <h3>Our Mission</h3>
            <p>
              The Think Earth mission is to help communities create and maintain
              a sustainable environment through education. We seek, initiate,
              and oversee environmental projects and partnerships among
              stakeholders from the business, education, government, and public
              sectors. These partnerships result in tangible ways for people to
              Think Earth, that is, for people to: <br />
              <br />
              - conserve natural resources (e.g., water, energy, habitat) <br />
              - reduce waste (e.g., recycle, repair, and reuse products) <br />
              - minimize pollution (e.g., air, water, land)
            </p>
          </div>
          <div class="p-3">
            <h3>History</h3>
            <p>
              The Think Earth Foundation originated in 1988 when a consortium of
              14 private and public entities in Southern California came
              together to discuss the need for environmental education in the
              schools. The group decided to underwrite the development and
              distribution of an environmental education curriculum. Our goal
              was to reach thousands of teachers and to educate millions of
              students to help produce new generations of environmentally aware
              and concerned citizens. <br />

              To achieve that goal, we developed the Think Earth Environmental
              Education Curriculum—a comprehensive, behavior-based curriculum
              with nine separate instructional units for each grade level from
              preschool through middle school. <br />

              In 1995, the Think Earth consortium organized into a 501(c)3
              nonprofit organization—the Think Earth Foundation. The printed and
              packaged curriculum units have been distributed free to more than
              60,000 teachers nationwide who have taught approximately 4 million
              students to "Think Earth."
            </p>
          </div>
        </div>
      </div>
      <div class="mb-4 col-md-4">
        <div class="card">
          <div class="list-group list-group-light">
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action active"
              aria-current="true"
            >
              Featured Surveys</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 1</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 2</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 3</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 4</a
            >
          </div>
        </div>
        <div class="mt-4 card">
          <div class="list-group list-group-light">
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action active"
              aria-current="true"
            >
              Featured Surveys</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 1</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 2</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 3</a
            >
            <a
              href="#"
              class="px-3 border-0 list-group-item list-group-item-action"
              >Survey 4</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
