<div class="card">
  <div class="p-3 d-flex align-items-center justify-content-between">
    <div class="card-header">
      <h3 class="card-title">Response</h3>
    </div>
    <!-- <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/add-category']"
    >
      Add
    </button> -->
  </div>
  <div class="col-12">
    <div class="card">
      <div class="p-0 card-body table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th>Survey</th>
              <th>User</th>
              <th>Created</th>
              <th style="width: 200px">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="responses != null">
              <tr *ngFor="let response of responses; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ response.surveyName }}</td>
                <td>{{ response.userName }}</td>
                <td>{{ response.created }}</td>
                <td class="d-flex align-items-center justify-content-around">
                  <button
                    type="button"
                    class="btn btn-primary"
                    [routerLink]="['/response-detail', { id: response.id }]"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="delete(response.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
